*.ipynb
/results_pkl
/core/.ipynb_checkpoints
*__pycache__
*.pkl
*.swp
/studies/Random_XY_eigenstates.py
studies/GHZ_all.py
tests/functions.py
# mac finder files
*.DS_Store 

# pip install directory
*.egg-info/*

studies/generating_wpo_for_h3.py
